.cards_main .location {
  position: relative;
  width: 1110px;
  height: 28px;
  margin: 0 auto;
}

.cards_main .location ul {
  position: absolute;
  top: 45px;
  right: 0;
}

.cards_main .location ul li {
  float: left;
  background: url(/images/ic_path.gif) no-repeat left top;
  padding: 0 5px 0 12px;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
}

.cards_main .location ul .home {
  background: none;
  padding: 0 5px 0 0;
}

.cards_main .location ul .home a {
  text-decoration: none;
}

.cards_main .location li.home a img {
  vertical-align: top;
}

.cards_main .location ul .last {
  padding-right: 0;
  font-weight: normal;
  font-family: "RixGoEB";
  line-height: 12px;
}

.cards_submain {
  width: 1110px;
  margin: 45px auto 100px;
  position: relative;
  padding: 0 10px;
}

.cards_submain h2 {
  font-size: 30px;
  font-family: "RixGoB";
  font-weight: normal;
  line-height: 30px;
  color: #000;
  text-align: center;
}

#subvisual {
  margin-top: 30px;
}

#subvisual .subvisualwrap {
  margin: 0 auto;
}

#subvisual .visualslider {
  width: 1110px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.visualslider .slides .visual1 {
  background: url(/images/card_visual1_230801.png) 0px 0px no-repeat;
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: 2;
}

.visualslider .slides .visual2 {
  background: url(/images/card_visual2_200110.jpg) 0px 0px no-repeat;
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: 1;
}

.visualslider .slides .visual3 {
  background: url(/images/card_visual3_200110.jpg) 0px 0px no-repeat;
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: 1;
}
.visualslider .slides > li {
  width: 1110px;
  height: 300px;
}

#subvisual .tabslider {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}

#subvisual .tabslider > li {
  float: left;
  width: 370px;
  height: 57px;
  border-bottom: 1px solid #cacaca;
  display: block;
  text-align: center;
  line-height: 56px;
  font-family: "RixGoB";
  font-weight: normal;
  font-size: 14px;
  color: #000;
}

#subvisual .tabslider > li a {
  display: block;
  height: 57px;
}

#subvisual .tabslider > li.on a {
  background: url("/images/bg_roll_3px.gif") repeat-x 0 bottom;
}

/* reco card */

.reco_card {
  margin-top: 70px;
  position: relative;
  zoom: 1;
  width: 1110px;
  display: block;
  margin: 0 auto;
}

.reco_card::after {
  display: block;
  content: "";
  clear: both;
}

.reco_card_btn {
  zoom: 1;
  position: absolute;
  right: 0;
  top: -14px;
}

.reco_card .btn-prev,
.btn-next,
.btn-stop {
  display: block;
  float: left;
  width: 55px;
  height: 55px;
  margin-left: 5px;
  text-indent: -9999px;
  background: #f6f6f6 url("/images/ico_card_control.png") no-repeat 0 0;
  border: none;
}

.reco_card_btn .btn-next {
  background-position: 20px -44px;
}

.reco_card_btn .btn-prev {
  background-position: 20px 16px;
}

.reco_card_btn .btn-stop {
  background-position: 22px -104px;
}

.reco_card_btn .btn-stop.on {
  background-position: 22px -164px;
}

.reco_card_btn::after {
  display: block;
  content: "";
  clear: both;
}

.reco_card h3 {
  height: 42px;
  border-bottom: 1px solid #000000;
  font-family: "RixGoB";
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  color: #000;
}

.cardinfo {
  float: left;
  position: relative;
  width: auto;
  margin-left: -30px;
  margin: 30px auto 0;
}

/* .cardinfo::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  width: 30px;
  height: 100%;
  background-color: #fff;
} */

.cardslide {
  width: 1140px;
  margin-left: -30px;
}

.cardslide .slide2 {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 210px;
  display: flex;
  gap: 29px;
}

.cardinfo .slide2 .thumb img {
  width: 255px;
  height: 160px;
}

.slide2 li {
  float: left;
  width: 255px;
  padding-left: 30px;
  /* gap: 30px; */
}

.slide2 li a {
  display: block;
}

.slide2 > li .tit {
  width: 255px;
  height: 25px;
  margin-top: 15px;
  font-family: "RixGoB";
  font-weight: normal;
  font-size: 16px;
  color: #000;
  line-height: 25px;
  word-break: keep-all;
}

.bx-controls {
  display: none;
}

.footer {
  margin-top: -350px;
}
