@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@font-face {
  font-family: "RixGoM";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/RIXGOM.TTF") format("woff");
}
@font-face {
  font-family: "RixGoL";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/RIXGOL.TTF") format("woff");
}
@font-face {
  font-family: "RixGoB";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/RIXGOB.TTF") format("woff");
}
@font-face {
  font-family: "RixGoEB";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/RIXGOEB.TTF") format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
}

@font-face {
  font-family: "Gmarket Sans";
  font-weight: 700;
  src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"),
    url("/fonts/GmarketSansTTFBold.ttf") format("woff2"),
    url("/fonts/GmarketSansTTFBold.ttf") format("woff");
}

@font-face {
  font-family: "Gmarket Sans";
  font-weight: 500;
  src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"),
    url("/fonts/GmarketSansTTFMedium.ttf") format("woff2"),
    url("/fonts/GmarketSansTTFMedium.ttf") format("woff");
}

@font-face {
  font-family: "Gmarket Sans";
  font-weight: 300;
  src: local("Gmarket Sans Light"), local("GmarketSans-Light"),
    url("/fonts/GmarketSansTTFLight.ttf") format("woff2"),
    url("/fonts/GmarketSansTTFLight.ttf") format("woff");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"),
    url("/fonts/Spoqa\ Han\ Sans\ Bold.ttf") format("woff2"),
    url("/fonts/Spoqa\ Han\ Sans\ Bold.ttf") format("woff"),
    url("/fonts/Spoqa\ Han\ Sans\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"),
    url("/fonts/Spoqa\ Han\ Sans\ Regular.ttf") format("woff2"),
    url("/fonts/Spoqa\ Han\ Sans\ Regular.ttf") format("woff"),
    url("/fonts/Spoqa\ Han\ Sans\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 100;
  src: local("Spoqa Han Sans Thin"),
    url("/fonts/Spoqa\ Han\ Sans\ Thin.ttf") format("woff2"),
    url("/fonts/Spoqa\ Han\ Sans\ Thin.ttf") format("woff"),
    url("/fonts/Spoqa\ Han\ Sans\ Thin.ttf") format("truetype");
}
